<%= link_to_remote("flip", :url => formatted_post_path(@post, :js), :method => :put, :with => "'url=#{@post.url}'") %>
<div class='nav'>
  <div class='title'><%= link_to @title, @post.url %></div>
  <div class='subtitle'><%= link_to @home, @post.homeurl %></div>
</div>

<%= @post.contents %>
