<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <%= javascript_include_tag("prototype") %>
  <%= javascript_include_tag("effects") %>
  <%= javascript_include_tag("controls") %>
</head>
<body>
  <%= yield %>
</body>
</html>
